.home {
    display: flex;
    width: 100%;
    padding: 10px 13px 0 13px;
    box-sizing: border-box;
  }
  
  .mainContent {
    
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    transition: margin 0.3s ease;
  }
  